/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
.node--event .block--provider-webform {
  padding: 1.25rem 0 1.25rem 0;
  margin-top: 1.25rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.node--event .block--provider-webform:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #e5e5e5;
}

.node--event .form-type--webform-markup,
.node--event .form-type--processed-text {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 3.125rem;
  min-height: 2.5rem;
}

.node--event .form-type--webform-markup::before,
.node--event .form-type--processed-text::before {
  content: "\f05a";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.node--event .form-type--webform-markup::before,
.node--event .form-type--processed-text::before {
  position: absolute;
  left: 0.625rem;
  top: 0.3125rem;
}

.node--event .form-type--webform-markup p:last-child,
.node--event .form-type--webform-markup ul:last-child,
.node--event .form-type--webform-markup ol:last-child,
.node--event .form-type--processed-text p:last-child,
.node--event .form-type--processed-text ul:last-child,
.node--event .form-type--processed-text ol:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .node--event .block--provider-webform {
    padding: 1.25rem 0 1.25rem 0;
    margin-top: 1.25rem;
  }
  .node--event .webform-submission-event-subscription-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .node--event .webform-submission-event-subscription-form .form__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
    width: calc(100% + 20px);
  }
  .node--event .webform-submission-event-subscription-form .form__row > div,
  .node--event .webform-submission-event-subscription-form .form__row > .form__element,
  .node--event .webform-submission-event-subscription-form .form__row > .form__group {
    width: calc(50% - 20px);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  .node--event .webform-submission-event-subscription-form .form__row--submit {
    -ms-flex-align: start;
    align-items: start;
  }
  .node--event .webform-submission-event-subscription-form .form__row--submit .form__group,
  .node--event .webform-submission-event-subscription-form .form__row--submit .form__element,
  .node--event .webform-submission-event-subscription-form .form__row--submit .form-actions {
    width: auto;
  }
  .node--event .webform-submission-event-subscription-form .form__row--submit .form__element {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .node--event .webform-submission-event-subscription-form .form__row--submit .form-type--webform-markup,
  .node--event .webform-submission-event-subscription-form .form__row--submit .form-type--processed-text {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    width: auto;
  }
  .node--event .webform-submission-event-subscription-form .form__row--submit .form-actions {
    margin-top: 0;
  }
}

@media (min-width: 940px) {
  .node--event .block--provider-webform {
    padding: 2.5rem 0 2.5rem 0;
    margin-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .node--event .block--provider-webform {
    padding: 3.125rem 0 3.125rem 0;
    margin-top: 6.875rem;
  }
}

.event__bar--full {
  position: relative;
  padding: 1.25rem 0 1.25rem 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.event__bar--full:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #14427d;
}

.event__bar--full .field--name-field-event-price {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

.event__bar--full .event-daterange-wrapper {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: bold;
}

.event__bar--full .event-daterange-wrapper::before {
  position: "relative";
  top: 0;
  content: "\f073";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.event__bar--full .event-daterange-wrapper::before {
  padding-right: 0.625rem;
}

.event__bar--full .rs-scroll-to-formatter {
  margin-top: 0.625rem;
}

.event__bar--full .rs-scroll-to-formatter a {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 6px;
  padding: 0.875rem 1.5625rem 0.75rem 1.5625rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 0.875rem 1.5625rem 0.75rem 1.5625rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.font-text-01-loaded .event__bar--full .rs-scroll-to-formatter a {
  font-family: "Montserrat", "Arial", sans-serif;
}

.event__bar--full .rs-scroll-to-formatter a, .event__bar--full .rs-scroll-to-formatter a:visited {
  color: #62bdc2;
}

.event__bar--full .rs-scroll-to-formatter a:hover, .event__bar--full .rs-scroll-to-formatter a:active {
  border: 0 none;
  color: #fff;
  background: #68cfd5;
  outline: none;
}

.event__bar--full .rs-scroll-to-formatter a:focus, .event__bar--full .rs-scroll-to-formatter a:focus:hover {
  outline: 0;
}

.event__bar--full .rs-scroll-to-formatter a.disabled, .event__bar--full .rs-scroll-to-formatter a:disabled, .event__bar--full .rs-scroll-to-formatter a[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

@media (min-width: 768px) {
  .event__bar--full {
    top: 0;
  }
  .event__bar--full .layout-builder__region {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .event__bar--full .block--field-blocknodeeventfield-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .event__bar--full .field--name-field-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .event__bar--full .field--name-field-event-price {
    margin-bottom: 0;
    margin-right: 1.5625rem;
    white-space: nowrap;
    -ms-word-break: keep-all;
    word-break: keep-all;
  }
  .event__bar--full .event-daterange-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .event__bar--full .event-daterange-wrapper div {
    display: inline;
  }
  .event__bar--full .rs-scroll-to-formatter {
    margin-top: 0;
  }
  .event__bar--full.js-sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 910;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    transition: top 0.3s ease-in-out;
  }
  .toolbar-fixed.toolbar-horizontal .event__bar--full.js-sticky {
    top: 4.9375rem;
  }
}

@media (min-width: 940px) {
  .event__bar--full .field--name-field-event-price {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
  .event__bar--full .event-daterange-wrapper {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.event__bottom--full .field--name-field-event-price {
  margin-bottom: 0.625rem;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

@media (min-width: 768px) {
  .event__bottom--full .field--name-field-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1.5625rem;
  }
  .event__bottom--full .field--name-field-events .field {
    margin-left: 1.5625rem;
  }
  .event__bottom--full .field--name-field-event-price {
    margin-bottom: 0;
  }
  .event__bottom--full .event-daterange-wrapper div {
    display: inline;
  }
  .event__bottom--full .field--name-field-event-place p {
    margin-bottom: 0;
  }
}

.event__top--full .layout__subregion-02 {
  position: relative;
  padding: 1.25rem 0 1.25rem 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.event__top--full .breadcrumb__item::before {
  color: #fff;
}

.event__top--full .breadcrumb__item::after {
  color: #fff;
}

.event__top--full .breadcrumb__link, .event__top--full .breadcrumb__link:visited {
  border-bottom: 1px solid white;
  color: #fff;
}

.event__top--full .breadcrumb__link:hover, .event__top--full .breadcrumb__link:active {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
}

@media (min-width: 768px) {
  .event__top--full .layout__subregion-02 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }
  .event__top--full .layout__subregion-02 h3 {
    color: #fff;
  }
  .event__top--full .layout__subregion-02 a, .event__top--full .layout__subregion-02 a:visited {
    color: #fff;
  }
}

.event--frontpage .date-first-teaser {
  padding: 1.875rem 1.25rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid #14427d;
  text-align: center;
}

.event--frontpage .date-first-teaser .day {
  display: block;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: bold;
  color: #62bdc2;
}

.event--frontpage .date-first-teaser .month {
  display: block;
  font-size: 1.625rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: #14427d;
}

.event--frontpage h2,
.event--frontpage h3,
.event--frontpage h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #39596a;
}

@media (max-width: 767px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.34615rem;
    line-height: 1.53846rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.45833rem;
    line-height: 1.66667rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.59091rem;
    line-height: 1.81818rem;
  }
}

@media (min-width: 1200px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.event--frontpage h2 a, .event--frontpage h2 a:visited,
.event--frontpage h3 a,
.event--frontpage h3 a:visited,
.event--frontpage h4 a,
.event--frontpage h4 a:visited {
  border-bottom: 1px solid rgba(98, 189, 194, 0);
  text-decoration: none;
  color: #14427d;
}

.event--frontpage h2 a:hover, .event--frontpage h2 a:active,
.event--frontpage h3 a:hover,
.event--frontpage h3 a:active,
.event--frontpage h4 a:hover,
.event--frontpage h4 a:active {
  border-bottom: 1px solid #62bdc2;
  text-decoration: none;
  color: #62bdc2;
}

.event--frontpage .layout__subregion-01 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  border-bottom: 1px solid #e2e2e2;
}

.event--frontpage .date-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1.75rem 0rem 1.3125rem;
  margin-right: 1rem;
  border-right: 1px solid #e2e2e2;
}

.event--frontpage .date-wrapper::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f073";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--frontpage .date-wrapper .last-date {
  position: relative;
}

.event--frontpage .date-wrapper .last-date::before {
  content: "\f178";
  display: inline-block;
  margin: 0 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--frontpage .field--name-field-event-place {
  position: relative;
  padding: 0 0 0 1.125rem;
}

.event--frontpage .field--name-field-event-place::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f276";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--frontpage .rs-canonical-link-formatter {
  margin-top: 0.4375rem;
}

@media (min-width: 480px) {
  .event--frontpage .node__content {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .event--frontpage .layout--rs-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 7.5rem;
    padding: 0;
    border-right: 2px solid #14427d;
  }
  .event--frontpage .layout--rs-content {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100% - 7rem);
    padding: 0 0 0 1.875rem;
  }
  .event--frontpage .date-first-teaser {
    margin: 0;
    padding: 0;
    border-bottom: 0 none;
  }
}

@media (min-width: 940px) {
  .event--frontpage .layout--rs-top {
    padding: 0;
    margin-left: -2.5rem;
    width: 9.375rem;
  }
  .event--frontpage .layout--rs-content {
    padding: 0 0 0 3.375rem;
  }
}

@media (min-width: 1200px) {
  .event--frontpage .layout--rs-content {
    padding: 0 0 0 3.375rem;
  }
}

.event--teaser .layout--rs-top,
.event--teaser .layout--rs-header {
  position: relative;
  margin-bottom: 0.9375rem;
}

.event--teaser .layout--rs-top .layout--rs-top,
.event--teaser .layout--rs-header .layout--rs-top {
  margin-bottom: 0;
}

.event--teaser .date-first-teaser {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.0625rem 1.25rem 0.8125rem 1.25rem;
  min-width: 4.9375rem;
  text-align: center;
  color: #fff;
  background-color: #14427d;
}

.event--teaser .date-first-teaser .day,
.event--teaser .date-first-teaser .day-part-1 {
  display: block;
  margin-bottom: 0.1875rem;
  font-size: 1.625rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.event--teaser .date-first-teaser .month,
.event--teaser .date-first-teaser .day-part-2 {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.event--teaser .field--name-field-events {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.625rem;
  background: #e5e5e5;
}

.event--teaser .time:last-child::before,
.event--teaser .date:last-child::before {
  content: "- ";
}

.event--teaser .time:first-child::before,
.event--teaser .date:first-child::before {
  content: "";
}

.event--teaser .field--image,
.event--teaser .field--name-field-media-canonical-image {
  margin-bottom: 0;
}

.event--teaser h2,
.event--teaser h3,
.event--teaser h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #39596a;
}

@media (max-width: 767px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.34615rem;
    line-height: 1.53846rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.45833rem;
    line-height: 1.66667rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.59091rem;
    line-height: 1.81818rem;
  }
}

@media (min-width: 1200px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.event--teaser .layout__subregion-01 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.event--teaser .date-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 0.9375rem 0rem 1.3125rem;
  margin-right: 1rem;
  border-right: 1px solid #e2e2e2;
}

.event--teaser .date-wrapper::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f073";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--teaser .date-wrapper .last-date {
  position: relative;
}

.event--teaser .date-wrapper .last-date::before {
  content: "\f178";
  display: inline-block;
  margin: 0 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--teaser .field--name-field-event-place {
  position: relative;
  padding: 0 0 0 1.125rem;
}

.event--teaser .field--name-field-event-place::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f276";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #62bdc2;
}

.event--teaser .rs-canonical-link-formatter {
  margin-top: 0.9375rem;
}

.event--teaser .rs-canonical-link-formatter a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
  position: relative;
  display: inline;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.event--teaser .rs-canonical-link-formatter a, .event--teaser .rs-canonical-link-formatter a:visited {
  color: #62bdc2;
  border-bottom: 1px solid #62bdc2;
}

.event--teaser .rs-canonical-link-formatter a:hover {
  color: #14427d;
  border-bottom: 1px solid rgba(98, 189, 194, 0);
}

.event--teaser .rs-canonical-link-formatter a:active {
  color: #14427d;
  border-bottom: 1px solid rgba(98, 189, 194, 0);
}

.event--teaser .field--name-field-event-tags {
  margin-top: 0.9375rem;
}

@media (min-width: 768px) {
  .event--teaser .layout--rs-top,
  .event--teaser .layout--rs-header {
    margin-bottom: 1.4375rem;
  }
  .event--teaser .layout--rs-top .layout--rs-top,
  .event--teaser .layout--rs-header .layout--rs-top {
    margin-bottom: 0;
  }
  .event--teaser .rs-canonical-link-formatter {
    margin-top: 1.4375rem;
  }
}

.event__top--full {
  position: relative;
  padding: 1.25rem 0 1.25rem 0;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.event__top--full:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #000000;
}

.event__top--full,
.event__top--full h1,
.event__top--full h2,
.event__top--full h3,
.event__top--full a,
.event__top--full a:visited,
.event__top--full a:hover,
.event__top--full a:active,
.event__top--full .field {
  color: #fff;
}

.event__top--full .field--image,
.event__top--full .field--name-field-media-canonical-image {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .5;
}

.event__top--full .field--image .media,
.event__top--full .field--name-field-media-canonical-image .media {
  position: static;
}

.event__top--full .field--image img,
.event__top--full .field--name-field-media-canonical-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

.event__top--full .layout__subregion-01 {
  position: relative;
  z-index: 1;
}

.event__top--full .layout__subregion-01 h1,
.event__top--full .layout__subregion-01 h2 {
  margin-bottom: 0;
}

.event__top--full .layout__subregion-01 .field--name-field-event-place {
  margin-top: 0.9375rem;
  font-weight: bold;
}

.event__header--full {
  padding: 1.25rem 0 1.25rem 0;
  position: relative;
  z-index: 5;
}

.event__header--full:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #e5e5e5;
}

.event__header--full .block {
  margin-bottom: 1.25rem;
}

.event__header--full .block:last-child {
  margin-bottom: 0;
}

.event__header--full .field--name-field-event-location > h3:first-child {
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.event__header--full .field--name-field-event-location .address__lines {
  position: relative;
  padding-left: 1.5rem;
}

.event__header--full .field--name-field-event-location .address__lines::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f041";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.event__header--full .field--name-field-event-location .address__locality,
.event__header--full .field--name-field-event-location .address__country {
  padding-left: 1.5rem;
}

@media (min-width: 768px) {
  .event__top--full {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 16.875rem;
    padding: 1.25rem 0 1.25rem 0;
  }
  .event__top--full .layout__subregion-01 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .event__header--full {
    padding: 20 0 20 0;
    margin: 0 -0.9375rem;
  }
  .event__header--full .layout-builder__region {
    display: -ms-flexbox;
    display: flex;
  }
  .event__header--full .block {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin: 0 0.9375rem;
    width: calc(33.33333% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .event__top--full {
    padding: 2.5rem 0 2.5rem 0;
    height: 23.125rem;
  }
  .event__header--full {
    padding: 40 0 40 0;
  }
}

@media (min-width: 1200px) {
  .event__top--full {
    padding: 6.875rem 0 6.875rem 0;
    height: 29.375rem;
  }
  .event__header--full {
    padding: 50 0 50 0;
  }
}

.overview--event-overview-front h2 {
  margin-bottom: 2.125rem;
  font-size: 2.1875rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #14427d;
}

.overview--event-overview-front .more-link--overview {
  margin-top: -1.25rem;
  padding-bottom: 1.25rem;
}

.overview--event-overview-front .more-link--overview a {
  border-bottom: 0 none;
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
  text-decoration: none;
}

.overview--event-overview-front .more-link--overview a::before {
  content: "\f178";
  display: inline-block;
  margin: 0 0.3125rem 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 400;
}

.overview--event-overview-front .more-link--overview a::before {
  position: relative;
  top: -1px;
  color: #62bdc2;
  transition: none;
}

.overview--event-overview-front .more-link--overview a, .overview--event-overview-front .more-link--overview a:visited {
  color: #14427d;
}

.overview--event-overview-front .more-link--overview a:hover, .overview--event-overview-front .more-link--overview a:active {
  color: #62bdc2;
}

.view-display-id-event_overview_front .event--frontpage {
  margin-bottom: 1.875rem;
}

.view-display-id-event_overview_front .event--frontpage:last-child {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .overview--event-overview-front .more-link--overview {
    position: absolute;
    top: 0.5625rem;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .overview--event-overview-front h2 {
    margin-bottom: 3.75rem;
  }
}

.view--display-event-overview-block .view__content,
.view--display-event-archive-block .view__content {
  margin-top: -1.875rem;
}

.view--display-event-overview-block .event--teaser,
.view--display-event-archive-block .event--teaser {
  margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .view--display-event-overview-block .view__content,
  .view--display-event-archive-block .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view--display-event-overview-block .event--teaser,
  .view--display-event-archive-block .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .view--display-event-overview-block .event--teaser,
  .view--display-event-archive-block .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}
