/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
.realisation__header--full .layout__subregion-02 {
  position: relative;
  padding: 1.25rem 0 1.25rem 0;
  transition: all 0.3s ease-in-out;
}

.realisation__header--full .breadcrumb__item::before {
  color: #fff;
}

.realisation__header--full .breadcrumb__item::after {
  color: #fff;
}

.realisation__header--full .breadcrumb__link, .realisation__header--full .breadcrumb__link:visited {
  border-bottom: 1px solid white;
  color: #fff;
}

.realisation__header--full .breadcrumb__link:hover, .realisation__header--full .breadcrumb__link:active {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
}

@media (min-width: 768px) {
  .realisation__header--full .layout__subregion-02 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }
  .realisation__header--full .layout__subregion-02 h3 {
    color: #fff;
  }
  .realisation__header--full .layout__subregion-02 a, .realisation__header--full .layout__subregion-02 a:visited {
    color: #fff;
  }
}

.view--display-realisation-overview-front .realisation--teaser .field--image,
.view--display-realisation-overview-front .realisation--teaser .field--name-field-media-canonical-image,
.realisation--teaser-front .field--image,
.realisation--teaser-front .field--name-field-media-canonical-image,
.realisation--front .field--image,
.realisation--front .field--name-field-media-canonical-image {
  margin-bottom: 0.9375rem;
}

.view--display-realisation-overview-front .realisation--teaser h2,
.view--display-realisation-overview-front .realisation--teaser h3,
.view--display-realisation-overview-front .realisation--teaser h4,
.realisation--teaser-front h2,
.realisation--teaser-front h3,
.realisation--teaser-front h4,
.realisation--front h2,
.realisation--front h3,
.realisation--front h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #39596a;
}

@media (max-width: 767px) {
  .view--display-realisation-overview-front .realisation--teaser h2,
  .view--display-realisation-overview-front .realisation--teaser h3,
  .view--display-realisation-overview-front .realisation--teaser h4,
  .realisation--teaser-front h2,
  .realisation--teaser-front h3,
  .realisation--teaser-front h4,
  .realisation--front h2,
  .realisation--front h3,
  .realisation--front h4 {
    font-size: 1.34615rem;
    line-height: 1.53846rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .view--display-realisation-overview-front .realisation--teaser h2,
  .view--display-realisation-overview-front .realisation--teaser h3,
  .view--display-realisation-overview-front .realisation--teaser h4,
  .realisation--teaser-front h2,
  .realisation--teaser-front h3,
  .realisation--teaser-front h4,
  .realisation--front h2,
  .realisation--front h3,
  .realisation--front h4 {
    font-size: 1.45833rem;
    line-height: 1.66667rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .view--display-realisation-overview-front .realisation--teaser h2,
  .view--display-realisation-overview-front .realisation--teaser h3,
  .view--display-realisation-overview-front .realisation--teaser h4,
  .realisation--teaser-front h2,
  .realisation--teaser-front h3,
  .realisation--teaser-front h4,
  .realisation--front h2,
  .realisation--front h3,
  .realisation--front h4 {
    font-size: 1.59091rem;
    line-height: 1.81818rem;
  }
}

@media (min-width: 1200px) {
  .view--display-realisation-overview-front .realisation--teaser h2,
  .view--display-realisation-overview-front .realisation--teaser h3,
  .view--display-realisation-overview-front .realisation--teaser h4,
  .realisation--teaser-front h2,
  .realisation--teaser-front h3,
  .realisation--teaser-front h4,
  .realisation--front h2,
  .realisation--front h3,
  .realisation--front h4 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.view--display-realisation-overview-block .realisation--teaser .field--image,
.view--display-realisation-overview-block .realisation--teaser .field--name-field-media-canonical-image {
  margin-bottom: 0.9375rem;
}

.view--display-realisation-overview-block .realisation--teaser h2,
.view--display-realisation-overview-block .realisation--teaser h3,
.view--display-realisation-overview-block .realisation--teaser h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #39596a;
}

@media (max-width: 767px) {
  .view--display-realisation-overview-block .realisation--teaser h2,
  .view--display-realisation-overview-block .realisation--teaser h3,
  .view--display-realisation-overview-block .realisation--teaser h4 {
    font-size: 1.34615rem;
    line-height: 1.53846rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .view--display-realisation-overview-block .realisation--teaser h2,
  .view--display-realisation-overview-block .realisation--teaser h3,
  .view--display-realisation-overview-block .realisation--teaser h4 {
    font-size: 1.45833rem;
    line-height: 1.66667rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .view--display-realisation-overview-block .realisation--teaser h2,
  .view--display-realisation-overview-block .realisation--teaser h3,
  .view--display-realisation-overview-block .realisation--teaser h4 {
    font-size: 1.59091rem;
    line-height: 1.81818rem;
  }
}

@media (min-width: 1200px) {
  .view--display-realisation-overview-block .realisation--teaser h2,
  .view--display-realisation-overview-block .realisation--teaser h3,
  .view--display-realisation-overview-block .realisation--teaser h4 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.realisation__header--full {
  position: relative;
  margin: 0;
  padding: 1.25rem 0 1.25rem 0;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.realisation__header--full:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #000000;
}

.realisation__header--full,
.realisation__header--full h1,
.realisation__header--full h2,
.realisation__header--full h3,
.realisation__header--full a,
.realisation__header--full a:visited,
.realisation__header--full a:hover,
.realisation__header--full a:active,
.realisation__header--full .field {
  color: #fff;
}

.realisation__header--full .field--image,
.realisation__header--full .field--name-field-media-canonical-image {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .5;
}

.realisation__header--full .field--image .media,
.realisation__header--full .field--name-field-media-canonical-image .media {
  position: static;
}

.realisation__header--full .field--image img,
.realisation__header--full .field--name-field-media-canonical-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

.realisation__header--full .layout__subregion-01 {
  position: relative;
  z-index: 1;
}

.realisation__header--full .layout__subregion-01 h1,
.realisation__header--full .layout__subregion-01 h2 {
  margin-bottom: 0;
}

.realisation__header--full .layout__subregion-01 .field--name-field-show-post-date {
  margin-top: 0.9375rem;
}

@media (min-width: 768px) {
  .realisation__header--full {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 16.875rem;
    padding: 1.25rem 0 1.25rem 0;
  }
}

@media (min-width: 940px) {
  .realisation__header--full {
    padding: 2.5rem 0 2.5rem 0;
    height: 23.125rem;
  }
}

@media (min-width: 1200px) {
  .realisation__header--full {
    padding: 6.875rem 0 6.875rem 0;
    height: 29.375rem;
  }
}

.overview--realisation-overview-front h2 {
  margin-bottom: 2.125rem;
  font-size: 2.1875rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #14427d;
}

.overview--realisation-overview-front .more-link--overview {
  margin-top: -1.25rem;
  padding-bottom: 1.25rem;
}

.overview--realisation-overview-front .more-link--overview a {
  border-bottom: 0 none;
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
  text-decoration: none;
}

.overview--realisation-overview-front .more-link--overview a::before {
  content: "\f178";
  display: inline-block;
  margin: 0 0.3125rem 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 400;
}

.overview--realisation-overview-front .more-link--overview a::before {
  position: relative;
  top: -1px;
  color: #62bdc2;
  transition: none;
}

.overview--realisation-overview-front .more-link--overview a, .overview--realisation-overview-front .more-link--overview a:visited {
  color: #14427d;
}

.overview--realisation-overview-front .more-link--overview a:hover, .overview--realisation-overview-front .more-link--overview a:active {
  color: #62bdc2;
}

.view-display-id-realisation_overview_front .realisation--teaser {
  margin-bottom: 1.875rem;
}

.view-display-id-realisation_overview_front .realisation--teaser:last-child {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .overview--realisation-overview-front .more-link--overview {
    position: absolute;
    top: 0.5625rem;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .view-display-id-realisation_overview_front .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view-display-id-realisation_overview_front .realisation--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .view-display-id-realisation_overview_front .realisation--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}

@media (min-width: 1200px) {
  .overview--realisation-overview-front h2 {
    margin-bottom: 3.75rem;
  }
}

.view--display-realisation-overview-block .view__content {
  margin-top: -1.875rem;
}

.view--display-realisation-overview-block .realisation--teaser {
  margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .view--display-realisation-overview-block .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view--display-realisation-overview-block .realisation--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}
