////////////////////////////////////////////////////////////////////////////////
// *
// * Headings
// *
////////////////////////////////////////////////////////////////////////////////


// * Styling
// =============================================================================

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-fallback;
}

// load font-family after font loaded
.font-text-01-loaded {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @include headings;
  }
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}


// ** Headings in CKE

.text-long {

  h2 {
    // margin-bottom: rem(31);
  }

  h3 {
    // margin-bottom: rem(31);
  }

  h4 {
    // margin-bottom: rem(31);
  }

  // reset margins
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.no-margin {
      margin-bottom: 0;
    }
  }
}
