////////////////////////////////////////////////////////////////////////////////
// *
// * Headings: helpers
// *
////////////////////////////////////////////////////////////////////////////////


// * Mixins to manage & share the styling
// =============================================================================

@mixin headings {
  font-weight: $font-weight-bold;

  a,
  a:visited {
    text-decoration: none;
    color: $color-link;
  }

  a:hover {
    text-decoration: underline;
    color: $color-link;
  }

  // Only use webfont when it's done loading (replace class with the appropriate one)
  @if ($font-base == $font-heading) {
    .font-text-01-loaded & {
      font-family: $font-heading;
    }
  } @else {
    .font-text-02-loaded & {
      font-family: $font-heading;
    }
  }

}

@mixin h1 {
  margin: 0 0 rem($gap-vert) 0;
  @include font-size($h1-size, $h1-line, true);
  color: $h1-color;
}

@mixin h2 {
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($h2-size, $h2-line, true);
  color: $h2-color;
}

@mixin h3 {
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($h3-size, $h3-line, true);
  color: $h3-color;
}

@mixin h4 {
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($h4-size, $h4-line, true);
  color: $h4-color;
}

@mixin h5 {
  margin: 0 0 rem($gap-vert-xs) 0;
  @include font-size($font-size-base, $line-height-base, true);
  color: $color-base;
}

@mixin h6 {
  @include h5;
}
